.sort-container {
	position: relative;
	text-align: center;
	display: flex;
	place-content: center;
	margin: 2rem 0;
}

.sort-button {
	border-radius: 20px;
	border: none;
	background-color: #8e23d1;
	div {
		margin: 0.4rem 0.8rem;
		span {
			color: #fdfdfd;
			font-size: 1rem;
		}
	}

	&:hover {
		border-radius: 20px;
		background-color: #8e23d1;
	}
}
