.menu-container {
	position: relative;
	text-align: center;
	display: flex;
	align-content: flex-start;
	justify-content: space-around;
	width: 24rem;
	margin-left: 67px;
	// margin-top: 4rem;
}

.menu-item {
	color: #a5a5a5;
	font-size: 1.125rem;
}

.menu-item:hover {
	color: #1c1c1c;
}

.menu-item:active {
	color: #1c1c1c;
}
