body {
  background-color: #f0f0f0 !important;
  margin: 0;
}

.dnd-base {
  min-height: 140px;
  border: 1px dashed rgb(221, 221, 231);
  border-radius: 5px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
