.avatar-xs {
  width: 2.25rem;
  height: auto;
}

.g-container {
  max-width: 1200px;
}

body {
  background-color: #f0f0f0;
}

.g-email-list {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}

.g-email-list:hover {
  text-decoration: none;
}

.snippet {
  color: #a5a5a5;
}

.email-avatar {
  background-color: #a5a5a5;
}

// .card {
// 	background-color: rgb(255, 255, 255);
// 	border-radius: 5px;
// 	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
// }

.label-container {
  flex: 1 1 0%;
  transition: transform 0.3s ease 0s;
  white-space: nowrap;
  user-select: none;
}

.icon {
  margin-right: 13px;
  line-height: 0;
  text-align: center;
  transition: opacity 0.3s ease 0s;
}

.date {
  color: #a5a5a5;
  margin-left: 10px;
  white-space: nowrap;
}

.threadRow {
  position: relative;
  display: grid;
  grid-template-columns: var(--padding-left) 20px 215px auto max-content 105px 20px var(
      --padding-right
    );
  font-size: 13px;
  height: 56px;
}

.cellName {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  user-select: none;
  color: var(--primary-text);
}

.cellName > .avatars {
  margin-right: 15px;
}

.cellMessage {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0;
  padding-left: 15px;
  white-space: nowrap;
  cursor: default;
}

.cellAttachment {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-self: end;
  padding-left: 10px;
}

.cellDate {
  text-align: right;
}

.datePosition {
  height: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.inlineThreadActions {
  position: absolute;
  top: 18px;
  right: 30px;
  bottom: 0;
}

.threadList {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding-bottom: 127px;
  padding-top: 44px;
}

.base {
  display: flex;
  flex-direction: column;
}

.headerFullWidth {
  width: 100%;
}

// .threadBase {
// 	position: relative;
// 	user-select: none;
// 	--line-margin: 30px;
// 	--padding-left: 30px;
// 	--padding-right: 30px;
// 	--primary-text: #535358;
// 	--mindful-text: #8e8e99;
// 	--discreet-text: #aeaeb4;
// }

.label-base {
  cursor: default;
  user-select: none;
  transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
}

.input-base {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  cursor: text;
}

.participants-input {
  margin-left: 0;
}

.wrapper-participants {
  // margin-left: -10px;
  margin-right: 20px;
}

.ccBcc {
  margin-left: auto;
}

.ccBccButtons {
  display: inline-flex;
  flex-direction: row;
  height: 35px;
}

.ccBccButton {
  border: 0;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
  outline: 0;
  color: rgba(20, 20, 21, 0.3);
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease 0s;
}

.dnd-base {
  min-height: 140px;
  border: 1px dashed rgb(221, 221, 231);
  border-radius: 5px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.label {
  color: rgb(83, 83, 88);
  font-size: 13px;
  opacity: 0.5;
  user-select: none;
  cursor: default;
}

.signatureLabel {
  position: absolute;
  left: -120px;
  top: 0;
  width: 100px;
  text-align: right;
}

.inputContainer {
  transition: opacity 0.2s ease 0s;
  opacity: 1;
}
.inputContainerDimmed {
  opacity: 0.3;
}
.inputContainerSignature {
  padding-top: 2px;
}

.textarea {
  padding-top: 1px;
  caret-color: rgb(31, 36, 238);
  line-height: 1.8;
  font-size: 13px;
  color: rgb(20, 20, 21);
}

.textareaReset {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: none;
  resize: none;
  background-color: transparent;
}

.select {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 31px;
  cursor: pointer;
}
