/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

// @font-face {
// 	font-family: 'Barlow-Regular';

// 	src: url('./fonts/Barlow-Regular.woff') format('woff'),
// 		url('./fonts/Barlow-Regular.woff2') format('woff2');
// 	font-weight: normal;
// 	font-style: normal;
// }
