.email {
  border-radius: 6px;
  background-color: #ffff;
  // flex: 1 1 0%;
}

.email_unread {
  border-radius: 6px;
  background-color: #d971ff0f;
}

.email-detail-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
  font-family: 'Barlow-SemiBold';
  margin-left: 0.5rem;
}

.email-detail-container {
  min-width: 60%;
  max-width: 1040px;
}
